aiofiles
aiohttp
apscheduler
asyncio
beautifulsoup4
bing_image_downloader
telegraph
wget
unidecode
cloudscraper
curl-cffi
dnspython
emojis
Faker
ffmpeg-python
future
geopy
gitpython
google-api-python-client
gpytranslate
gtts
hachoir
heroku3
httpx[http2]==0.27.2
img2pdf
instaloader
langdetect
motor
nekosbest
numpy
opencv-python
pickledb
pillow==10.3.0
psutil
ntgcalls
py-tgcalls==0.9.7
pycountry
pycryptodome
pydub
pyfiglet
pyshorteners
python-dotenv
python-whois
pyttsx3
pytube
pytz
pyyaml==6.0.1
qrcode
requests
speedtest-cli
SpeechRecognition
spotipy
stripe==10.7.0
mysql-connector-python==9.0.0
telebot==0.0.5
yt-dlp
youtube-search
youtube-search-python
pyrogram==2.0.106
python-telegram-bot==21.1.1